{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Ironman</h1>
        <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum sequi atque nam ipsam, est fugiat necessitatibus minima eveniet quos, ducimus aut, unde sunt quis minus fuga eaque obcaecati tenetur voluptatem.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/ironman.png" class="img-thumbnail"/>
    </div>
</div>

{{> footer }}